@charset "UTF-8";

@font-face {
    font-family: 'BrownBold';
    src: url('../fonts/BrownBold.ttf');
}

@font-face {
    font-family: 'BrownLight';
    src: url('../fonts/BrownLight.ttf');
}

* {
    margin: 0;
    padding: 0;
}

header {
    flex: 100%;
    height: 48px;
    padding: 0px 40px;
    max-width: 800px;
}

header > a {
    padding: 15px 0px;
    text-decoration: none;
    display: inline-block;
    font-family: 'BrownLight';
    color: #697172;
    font-size: 14px;
}

header > a::after {
    content: ' ∨';
    color: #697172;
    padding: 4px;
}

main {
    background-image: url("../imgs/signature-k650.webp");
    background-size: 108%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 717px;
    width: 100%;
    min-height: 717px;
}

main > nav {
    padding: 0px 40px;
    height: 90px;
}

#headnav {
    height: 100%;
    display: flex;
}

#logo {
    background-image: url(../imgs/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    display: inline-block;
    margin-right: 20px;
    max-width: 183px;
    min-width: 130px;
}

#navmenu {    
    width: calc(66.66667% - 20px);
    margin: 0px 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;    
}

#navmenu > a {
    color: white;
    font: 15px BrownBold, helvatica, arial, sans-serif;
    text-transform: uppercase;
    padding: 9px 20px;
    font-size: 15px;
    text-decoration: none;
}

#navmenu > a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    transition-duration: 0.2s;
}

#navbtn {
    margin-right: 20px;
    width: calc(16.66667% - 20px);
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbtn button {
    background-color: transparent;
    border-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbtn button:hover {
    cursor: pointer;
}

#navbtn > a {
    margin-right: -16px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div > h2 {
    font-family: 'BrownBold';
    color: white;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 227px;
    padding-bottom: 11px;
    line-height: 1;
    letter-spacing: -1px;
}

main > div > p {
    font-family: 'BrownLight';
    color: white;
    font-size: 23px;
    text-align: center;    
    margin-bottom: 32px;
}

#mainAnuncio {
    padding-bottom: 100px;
    margin-top: 50px;
    margin: 50px auto;
}

#btnAnuncio {
    background-color: white;
    display: block;
    margin: auto;
    width: 215px;
    padding: 18px 36px;
    text-decoration: none;
}

#btnAnuncio > span {    
    font-family: 'BrownBold';
    font-size: 14px;    
    color: #2F3132;
    text-align: center;   
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

#btnAnuncio:hover {
    border: 2px solid white ;
    transition-duration: 0.3s;
    background-color: transparent;
    padding: 16px 36px;
}

#btnAnuncio:hover > span {
    color: white;
}

.chat{
    position: fixed;
    bottom: 40px;
    right: 6px;
    max-width: 58px;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-right: 15px;
}

.chat:hover{
    cursor: pointer;
}

.local a{
    margin-right: 40px;
    color: #697172;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    position: fixed;
    top: 12px;
    right: 6px;
}

.local img{
    margin-right: 40px;
    color: #697172;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    position: fixed;
    top: 14px;
    right: 30px;
    width: 15px;
}

header a {
    text-decoration: none;
    font-family: 'BrownBold';
    font-size: 0.9em;
}

header a:hover {
    text-decoration: underline;
}

@media(max-width: 1280px) {
    main {
        background-repeat: no-repeat;
        background-position: top top;
        position: relative;
        background-size: 160%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

@media(max-width: 830px){
    main {
        background-repeat: no-repeat;
        background-position: center top;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    main > div > h2 {
        font-size: 36px;
    }

    main > div > p {
        font-size: 18px;
    }

    header, #navmenu, #navbtn {
        display: none;
    }

    #logo {
        background-image: url(../imgs/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 90px;
        display: inline-block;
        margin: auto;
        max-width: 183px;
        min-width: 130px;
    }    
}