<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logitech</title>
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilo/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,1,0"/>
</head>
<body>
    <header>
        <a href="#">Nossas marcas</a>
        <div class="local">
            <img src="imgs/world-icon-16.png"><br/>
            <a href="#">PT</a>
        </div>
    </header>
    <main>
        <nav>
            <div id="headnav">
                <div id="logo"></div>
                <div id="navmenu">
                    <a href="#">Comprar</a>
                    <a href="#">Saiba</a>
                    <a href="#">Negócios</a>
                    <a href="#">Suporte</a>
                </div>
                <div id="navbtn">
                    <button type="button"><img src="imgs/iconpesquisar.png"></button>
                    <a href="#"><img src="imgs/iconuser.png"></a>
                </div>
            </div>
        </nav>        
        <div id="mainAnuncio">
            <h2>
                Digite com conforto<br>Maior Produtividade
            </h2>
            <p>Signature K650</p>
            <a id="btnAnuncio" href="#">
                <span>Descubra o Signature K650</span>
            </a>
        </div>
    </main>
    <section id="criptografia">
        <!--
        <div id="btnLogin">
            <a href="#login" onclick="showLogin()" id="btnLogin">Fazer login</a>
        </div>
        <div id="btnLogado">
            <a href="#logado" id="btnLogado">Logado!</a>
        </div>
        <div id="btnDeslogar">
            <a onclick="deslogar()" href="#deslogar" id="btnDeslogar">Desconectar</a>
        </div>
        -->
        <h1>Bem vindo (a)!</h1>
        <div id="painelEncrypt">
            <div id="menuEncrypt">
                <a href="#divCripto" id="targetEncrypt">Criptografar</a>
                <a href="#divUncripto">Descriptografar</a>
            </div>
            <div id="divCripto">
                <p>
                    Insira o texto que deseja criptografar:
                    <textarea name="txtEncrypt" id="txtEncrypt" cols="30" rows="10" placeholder="Insira o texto aqui!"></textarea> <br>
                    Insira a chave para criptografia ou gere uma automaticamente clicando na chave abaixo:
                    <div class="keySet">
                        <input type="text" name="inputKeyC" id="inputKeyC" placeholder="Crie ou gere uma chave!">
                        <button id="btnKey" type="button" onclick="genKey()"><img src="imgs/keyIcon.png" title="Gerar chave aleatória"></button>
                    </div>
                    <input class="button" type="button" value="Criptografar" onclick="encryptData()">
                </p>
            </div>
            <div id="divUncripto">
                <p>
                    Insira o conteúdo que deseja descriptografar:
                    <textarea name="txtDecrypt" id="txtDecrypt" cols="30" rows="10" placeholder="Insira o texto aqui!"></textarea> <br>
                    Insira a chave da criptografia:
                    <input type="text" name="inputKeyU" id="inputKeyU" placeholder="Preencha com a chave aqui.">
                    <input class="button" type="button" value="Descriptografar" onclick="decryptData()">
                </p>
            </div>
            <div id="resultado">        
            </div>
        </div>
    </section>
    <section id="login">
        <div class="blocker" onclick="hideLogin()"></div>
        <div id="campo-form">
            <header>
                <!--Logotipo-->
            </header>
            <form action="logar" method="POST" id="formLogin">
                <div class="campos email">
                    <div class="area-input">
                        <input type="email" name="login" id="iemail" placeholder="Email">
                        <span class="icone material-symbols-outlined">mail</span>
                        <span class="erros icone-erro material-symbols-outlined">error</span>
                    </div>
                    <div class="erros erro-msg">O email não pode estar em branco</div>
                </div>
                <div class="campos senha">
                    <div class="area-input">
                        <input type="password" name="password" id="ipassword" placeholder="Senha">
                        <span class="icone material-symbols-outlined">lock</span>
                        <span class="erros icone-erro material-symbols-outlined">error</span>
                    </div>
                    <div class="erros erro-msg">A senha não pode estar em branco</div>
                </div>
                <input type="submit" value="Entrar">
                <div id="infoCad">
                    <a onclick="irCadastro()">Não tem cadastro? Cadastre-se</a>
                </div>
                <div id="resLogin"></div>
            </form>
        </div>
    </section>
    <section id="cadastro">
        <div class="blocker" onclick="hideCadastro()"></div>
        <div id="campo-form2">
            <header>
                <!--Logotipo-->
            </header>
            <form action="cadastrar_user" id="iCadastros" method="POST">
                <div class="campos email">
                    <div class="area-input">
                        <input type="email" name="login" id="iemailCad" placeholder="Email">
                        <span class="icone material-symbols-outlined">mail</span>
                        <span class="erros icone-erro material-symbols-outlined">error</span>
                    </div>
                    <div class="erros erro-msg">O email não pode estar em branco</div>
                </div>
                <div class="campos senha">
                    <div class="area-input">
                        <input type="password" name="password" id="ipasswordCad" placeholder="Senha">
                        <span class="icone material-symbols-outlined">lock</span>
                        <span class="erros icone-erro material-symbols-outlined">error</span>
                    </div>
                    <div class="erros erro-msg">A senha não pode estar em branco</div>
                </div>
                <input type="submit" value="Cadastrar">
                <div id="resCadastro"></div>
            </form>
        </div>
    </section>
    <section class="noticias">
        <div id="blockern">
            <div class="area-noticias">
            <form action="cadastrar_noticia" method="POST" class="form-noticias" enctype="multipart/form-data">
                <h3>Cadastrar uma notícia</h3>
                <div id="n-1" class="campos">
                    <label for="ititulo">Título</label>
                    <input type="text" id="ititulo" name="titulo">
                    <div class="erros erro-msg">O titulo não pode estar em branco</div>
                </div>
                <div id="n-2" class="campos">
                    <label for="iconteudo">Conteúdo</label>
                    <textarea id="iconteudo" name="conteudo" rows="10" cols="100"></textarea>
                    <div class="erros erro-msg">O conteúdo não pode estar em branco</div>
                </div>
                <div id="fileImg">
                    <label for="txtImage">Imagem</label>
                    <input type="file" name="image">
                </div>
                <div id="n-3">
                    <input type="submit" value="Postar">
                </div>                
            </form>
        </div>
        </div>        
    </section>
    <section class="posts">
        <div id="buscarNoticias">
            <h2>Notícias</h2>
            <form action="buscar_post" method="GET" id="formBusca">
                <label for="inputTermo">Buscar pelo termo: </label>
                <input type="text" name="termo" id="inputTermo" required>
                <input type="submit" value="Buscar" id="buscarTermo">
            </form>
        </div>
        {{#each noticias}}
            <article>
                <h2>{{title}}</h2>
                <p class="content">{{content}}</p>
                <img class="imgNoticia" src="/imgs/uploads/{{image}}">
                <p class="postBy">Publicado em: {{pTime}}</p>
            </article>
        {{/each}}
    </section>
    <img class="chat" src="imgs/chat.png">
    <script src="script/encrypt.js"></script>
    <script src="script/login.js"></script>
</body>
</html>