<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilo/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,1,0"/>
</head>
<body onload="showLogin()">
    <section id="login">
        <div class="blocker"></div>
        <div id="campo-form">
            <header>
                <!--Logotipo-->
            </header>
            <form action="logar" method="POST" id="formLogin">
                <div class="campos email">
                    <div class="area-input">
                        <input type="email" name="login" id="iemail" placeholder="Email" required>
                        <span class="icone material-symbols-outlined">mail</span>
                        <span class="erros icone-erro material-symbols-outlined">error</span>
                    </div>
                    <div class="erros erro-msg">O email não pode estar em branco</div>
                </div>
                <div class="campos senha">
                    <div class="area-input">
                        <input type="password" name="password" id="ipassword" placeholder="Senha" required>
                        <span class="icone material-symbols-outlined">lock</span>
                        <span class="erros icone-erro material-symbols-outlined">error</span>
                    </div>
                    <div class="erros erro-msg">A senha não pode estar em branco</div>
                </div>
                <input type="submit" value="Entrar">
                <div id="infoCad">
                    <a onclick="irCadastro()">Não tem cadastro? Cadastre-se</a>
                </div>
                <div id="resLogin"></div>
            </form>
        </div>
    </section>
    <section id="cadastro">
        <div class="blocker" onclick="hideCadastro(), showLogin()"></div>
        <div id="campo-form2">
            <header>
                <!--Logotipo-->
            </header>
            <form action="cadastrar_user" id="iCadastros" method="POST">
                <div class="campos email">
                    <div class="area-input">
                        <input type="email" name="login" id="iemailCad" placeholder="Email" required>
                        <span class="icone material-symbols-outlined">mail</span>
                        <span class="erros icone-erro material-symbols-outlined">error</span>
                    </div>
                    <div class="erros erro-msg">O email não pode estar em branco</div>
                </div>
                <div class="campos senha">
                    <div class="area-input">
                        <input type="password" name="password" id="ipasswordCad" placeholder="Senha" required>
                        <span class="icone material-symbols-outlined">lock</span>
                        <span class="erros icone-erro material-symbols-outlined">error</span>
                    </div>
                    <div class="erros erro-msg">A senha não pode estar em branco</div>
                </div>
                <input type="submit" value="Cadastrar">
                <div id="resCadastro"></div>
            </form>
        </div>
    </section>
    <script src="script/login.js"></script>
</body>
</html>